# Godot logs
logs/

cache/

sample/android
sample/android_debug.keystore

.DS_Store

.env
vc140.pdb
.sconsign.dblite

*.o
*.obj
*.os

**/*.tmp

temp/

.idea/

compile_commands.json

epic-online-services-godot-addon.zip